<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 <link rel="stylesheet" type="text/css" href="/assets/main2.css">

	<title>Admissions</title>
</head>
<body>

<div class="jumbotron">
	<h1>List of Courses Offered</h1>
	<div class="container">
		
		<div class="row">
			<div class="col-md-6">
		<i><h4 id="ug">Undergraduate Courses</h4></i>
		<ul>
		<li>B.Tech</li>
		<li>B.Sc</li>
		<li>BBA</li>
		<li>BCA</li>
		<li>B.Com</li>		
	</ul>
</div>
			<div class="col-md-6">
		<i><h4>Postgraduate Courses</h4></i>
		<ul>
		<li>M.Tech</li>
		<li>M.Sc</li>
		<li>MBA</li>
		<li>MCA</li>
		<li>M.Com</li>		
	</ul>
</div>
		
	</div>

</div>
</div>

</body>
</html>